<div class="budget clearfix">
  <h2><%= formatted_date budget.start_date %> &ndash; <%= formatted_date budget.end_date %> (<%= financial_format budget.amount %>)</h2>
  
  <div class="transations">
    <%= transaction_list budget.transactions %>
  </div>
  
</div>
