<div class="envelope">
<h3><%= envelope.name %></h3>
<i class="status">(<%= envelope.active? ? 'Active' : 'Inactive' %>)</i>
<h4><%= envelope.total %></h4>
<%= render :partial => 'transactions/table', :locals => { :transactions => envelope.transactions } %>
</div>