<div class="fields">
  
  <div class="field vendor">
    <%= f.text_field :vendor %>
  </div>
  <div class="field amount">
    <%= f.text_field :amount %>
  </div>
  <div class="field hidden">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
</div>