<div class="goal">
<h3><%= goal.name %></h3>
<h4><%= goal.total %> / <%= goal.amount %></h4>
<%= render :partial => 'transactions/table', :locals => { :transactions => goal.transactions, :invert_transactions => true } %>
</div>