<h2>Editing goal</h2>

<%= render 'form' %>

<%= link_to 'Show', @goal %> |
<%= link_to 'Delete', @goal, confirm: "Delete goal \"#{@goal.name}\"?", method: :delete %> |
<%= link_to 'Cancel', :root %>
