/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
@import "layout.css.scss";
@import "scaffolds.css.scss";
@import "dashboard.css.scss";
@import "envelopes.css.scss";
@import "transactions.css.scss";
@import "goals.css.scss";


/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.ui-datepicker {
    background: #fff;
    border: 1px solid #aaa;
}
.ui-datepicker-prev {
    float: left;
}
.ui-datepicker-next {
    float: right;
}
.ui-datepicker-title {
    clear: both;
    text-align: center;
}
.ui-datepicker-calendar a {
    display: inline-block;
    text-align: right;
    min-width: 1.8em;
}
.ui-datepicker-prev, .ui-datepicker-next {
    margin: 1px 4px;
    text-decoration: underline;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    cursor: pointer;
}

