// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.envelope h3 {
  display: inline;
}
.envelope h4 {
  display: inline;
  font-size: 200%;
}
.envelope .status {
  font-style: normal;
  color: #bbb;
}