// Place all the styles related to the envelopes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.envelope h3, .goal h3 {
  display: inline;
}
.envelope h4, .goal h4 {
  display: inline;
  font-size: 200%;
}
.envelope .status {
  font-style: normal;
  color: #bbb;
}

.field {
  float: left;
  height: 2.5em;
  position: relative;
  margin: 0;
}
.envelope input {
    position: absolute;
    padding: 5px 6px;
    margin: 0;
    background-color: $transaction_input;
    border: 1px solid $transaction_inset_dark;
    border-bottom-color: $transaction_inset_light;
    border-right-color: $transaction_inset_light;
    font-family: 'Courier New';
    font-size: 100%;
    top: 4px;
    bottom: 4px;
}
.envelope .vendor {
    width: 80%;
}
.envelope .vendor input {
    left: 4px;
    right: 2px;
}
.envelope .amount {
    width: 20%;
}
.envelope .amount input {
    left: 2px;
    right: 4px;
}

.desc, .actions, .fields {
  clear: both;
}