// Place all the styles related to the envelopes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.envelope h3, .goal h3 {
  display: inline;
}
.envelope h4, .goal h4 {
  display: inline;
  font-size: 200%;
}
.envelope .status {
  font-style: normal;
  color: #bbb;
}

.field {
  float: left;
}

.desc, .actions {
  clear: both;
}