// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.goals {
  padding: 4px 4px 4px 10px;
  h2 {
    text-align: center;
  }
}
.goal-wrap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.new-goal-wrap {
  margin: 0 auto;
  display: block;
  background-color: #fafafa;
  padding: 21px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 250px;
}
.goal {
  width: 100%;
  margin: 1em 0;
  padding: 1em 0;
  background: rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  h3, .goal-status {
    text-align: center;
    margin:  0;
  }
  .stat {
    width: 42%;
    text-align: right;
    float: left;
    padding: 4%;
    i {
      font-style: normal;
      font-size: 1.5em;
      line-height: 1.4;
      display: block;
    }
  }
  .actions {
    text-align: center;
  }
  h4 {
    margin: 0;
  }
}
