$transaction_background: #fff9b0;
$transaction_border: darken(desaturate($transaction_background, 50%), 10%);
$transaction_input: #fafafa;
$transaction_inset_light: darken($transaction_input, 10%);
$transaction_inset_dark: darken($transaction_input, 20%);
$negative: #9e0000;
$positive: #0c8400;
