body {
  background-color: #E5F9E4;
  margin: 0;
  color: #333;
  font-family: 'Lucida Grande', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }
  
.main {
  margin: 0 10px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

#notice-wrap {
  background-color: #fafafa;
  padding: 12px;
  margin: 8px 0;
}

#notice-wrap p:first-child {
  padding-top: 0;
  margin-top: 0;
}
#notice-wrap p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

h1, h1 a, h1 a:visited {
  margin: 0;
  padding: 10px 20px 0;
  background: #000;
  line-height: 1.5;
  color: #E5F9E4;
  text-decoration: none;
  font-style: italic;
  i {
    font-size: 50%;
    font-weight: normal;
    float: right;
    margin-top: 16px;
  }
}
