body {
  background-color: #E5F9E4;
  margin: 0 auto;
  color: #333;
  font-family: 'Lucida Grande', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
  
.main {
  margin: 0 auto;
  min-width: 900px;
  max-width: 1200px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif; }

pre {
  background-color: #eee;
  padding: 10px; }

a {
  color: #333;
  &:visited {
    color: #333; }
  &:hover {
    color: #559; }
}

#notice-wrap {
  background-color: #fafafa;
  padding: 12px;
  margin: 8px 0;
}

#notice-wrap p:first-child {
  padding-top: 0;
  margin-top: 0;
}
#notice-wrap p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    list-style: square; } }

h1, {
  margin: 0;
  padding: 10px 20px 0;
  background: rgba(0, 0, 0, .85);
  line-height: 1.5;
  font-size: 1em;
  font-style: italic;
  a, a:visited, i {
    color: #E5F9E4;
    text-decoration: none;
  }
  i {
    font-weight: normal;
    float: right;
  }
}
