// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transactions {
  border: 1px solid;
  font-family: 'Courier New';
  background-color: $transaction_background;
  margin: 0;
  padding: 6px;
  padding-left: 33px;
}
.transactions li {
  border-top: 1px solid;
}
.transactions li:first-child {
  border-top: none;
}
.transaction_entry {
    background-color: $transaction_background;
    border: 1px solid;
    border-bottom: none;
}
.transactions, .transactions li, .transaction_entry {
  border-color: $transaction_border;
}
.amount {
  float: right;
  clear: right;
  font-style: normal;
}
.amount.neg {
  color: red;
}
.amount.pos {
  color: green;
}

.metadata {
  text-align: right;
}
.metadata, .metadata a, .metadata a:visited {
  color: #c0ba8e;
}
.metadata:hover, .metadata:hover a, .metadata:hover a:visited {
  color: #333;
}
.metadata:hover a:hover {
  color: #fff;
}
