// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transactions {
  border: 1px solid;
  font-family: 'Courier New';
  background-color: $transaction_background;
  margin: 0;
  padding: 6px;
  padding-left: 33px;
  li {
    border-top: 1px solid;
    &:first-child {
      border-top: none;
    }
  }
}
.transaction_entry {
    background-color: $transaction_background;
    border: 1px solid;
    border-bottom: none;
}
.transactions, .transactions li, .transaction_entry {
  border-color: $transaction_border;
}
.transaction_fields {
  input[type="text"], select {
    position: absolute;
    padding: 5px 6px;
    margin: 0;
    font-family: 'Courier New';
    font-size: 100%;
    top: 4px;
    bottom: 4px;
  }
  input[type="text"] {
    background-color: $transaction_input;
    border: 1px solid $transaction_inset_dark;
    border-bottom-color: $transaction_inset_light;
    border-right-color: $transaction_inset_light;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ie-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    &:focus {
      background-color: #fefefe;
    }
  }
  .envelope {
    width: 20%;
    select {
      left: 4px;
      right: 2px;
    }
  }
  .vendor {
    width: 60%;
    input {
      left: 4px;
      right: 2px;
    }
  }
  .amount {
    width: 20%;
    input {
      left: 2px;
      right: 4px;
    }
  }
}

.amount {
  float: right;
  clear: right;
  font-style: normal;
}
.amount.neg {
  color: red;
}
.amount.pos {
  color: green;
}

.metadata {
  text-align: right;
}
.metadata, .metadata a, .metadata a:visited {
  color: #c0ba8e;
}
.metadata:hover, .metadata:hover a, .metadata:hover a:visited {
  color: #333;
}
.metadata:hover a:hover {
  color: #fff;
}
