<% unless transactions.nil? || !transactions.any? %>
<table>
  <tr>
    <th>Date</th>
    <th>Vendor</th>
    <th>Amount</th>
    <th>Envelope</th>
    <th>Goal</th>
  </tr>

<%= render transactions %>

</table>
<% end %>