<h2>Editing transaction</h2>

<%= render 'form' %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Delete', @transaction, confirm: "Delete this transaction?", method: :delete %> |
<%= link_to 'Cancel', :root %>
